
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/lnf/found" class="border-shadow">
                <span class="text-gradient">Add property <i class="fas fa-user"></i></span>
            </a>
            <br>
            <a href="/lnf/raise" class="border-shadow">
                <span class="text-gradient">Raise Lost request <i class="fas fa-user"></i></span>
            </a>
        </div>
        <br><br>
        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>title</th>
                        <th>date</th>
                        <th>location</th>
                        <th>Submitted At</th>
                        <th>Description</th>
                        <th>Delete</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < details.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= details[i].title%></td>
                            <td><%= details[i].date %></td>
                            <td><%= details[i].location %></td>
                            <td><%= details[i].submittedat %></td>
                            <td><%= details[i].description %></td>
                            <td >
                                <a  href="lnf/deletefound/<%= details[i]._id %> "
                                  >Delete</a
                                >
                              </td>
                            
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->